[[% if language == 'java+kotlin' %]]
import org.jetbrains.kotlin.gradle.dsl.JvmTarget
import org.jetbrains.kotlin.gradle.tasks.KotlinCompile
[[% endif %]]

plugins {
[[% if language == 'java+kotlin' %]]
    id 'org.jetbrains.kotlin.jvm' version '1.9.25' apply false //kotlin编译插件
    id 'org.jetbrains.kotlin.kapt' version '1.9.25' apply false //让 Kotlin 能用类似 Java 的 annotation processor
    id 'org.jetbrains.kotlin.plugin.spring' version '1.9.25' apply false //专门为 Spring 优化的 Kotlin 插件
    id 'org.jetbrains.kotlin.plugin.noarg' version '1.9.25' apply false //为特定注解生成无参构造函数
[[% endif %]]
    id 'org.springframework.boot' version '2.7.18' apply false
    id 'io.spring.dependency-management' version '1.0.15.RELEASE' apply false
}

allprojects {
    group = '[[ group_id ]]'
    version = '1.0.0'

    repositories {
        maven { url "https://maven.aliyun.com/repository/central/" }
        maven { url "https://maven.aliyun.com/repository/public/" }
        maven { url "https://maven.aliyun.com/repository/spring/" }
        mavenCentral()
    }
}

subprojects {
    apply plugin: 'java'
[[% if language == 'java+kotlin' %]]
    apply plugin: 'kotlin'
[[% endif %]]
    apply plugin: 'io.spring.dependency-management'

    sourceCompatibility = 1.8
    targetCompatibility = 1.8

    dependencyManagement {
        dependencies {
            dependency "com.alibaba:druid-spring-boot-starter:1.2.8"
            dependency "com.github.lianjiatech:retrofit-spring-boot-starter:2.3.2"
            dependency "org.mybatis.spring.boot:mybatis-spring-boot-starter:2.3.2"
            dependency 'cn.hutool:hutool-crypto:5.8.1'
            dependency 'org.bouncycastle:bcpkix-jdk18on:1.78.1'
            dependency 'mysql:mysql-connector-java:8.0.26'
[[% if use_pagehelper %]]
            dependency 'com.github.pagehelper:pagehelper-spring-boot-starter:1.4.7'
[[% endif %]]
[[% if use_mybatis_plus %]]
            dependency 'com.baomidou:mybatis-plus-boot-starter:3.5.1'
[[% endif %]]
[[% if use_redisson %]]
            dependency("org.redisson:redisson-spring-boot-starter:3.19.0") {
                exclude "org.redisson:redisson-spring-data-30"
            }
            dependency 'org.redisson:redisson-spring-data-27:3.19.0'
[[% endif %]]
[[% if use_tencent_cos %]]
            dependency 'com.tencent.cloud:cos-sts-java:3.0.8'
            dependency 'com.qcloud:cos_api:5.6.72'
[[% endif %]]
[[% if use_aws_s3 %]]
            dependency 'com.amazonaws:aws-java-sdk-s3:1.12.261'
            dependency 'com.amazonaws:aws-java-sdk-sts:1.12.261'
[[% endif %]]
[[% if use_easyexcel %]]
            dependency 'com.alibaba:easyexcel:3.1.1'
[[% endif %]]
[[% if use_knife4j %]]
            dependency 'com.github.xiaoymin:knife4j-spring-boot-starter:3.0.3'
[[% endif %]]
[[% if use_guava %]]
            dependency 'com.google.guava:guava:31.1-jre'
[[% endif %]]
[[% if use_commons_io %]]
            dependency 'commons-io:commons-io:2.11.0'
[[% endif %]]
[[% if use_fastjson %]]
            dependency 'com.alibaba:fastjson:2.0.22'
[[% endif %]]
        }
    }

    dependencies {
[[% if language == 'java+kotlin' %]]
        implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk8"
        implementation "org.jetbrains.kotlin:kotlin-reflect"
        testImplementation 'org.jetbrains.kotlin:kotlin-test'
[[% endif %]]
    }


[[% if language == 'java+kotlin' %]]
    tasks.withType(KotlinCompile).configureEach {
        compilerOptions {
            freeCompilerArgs = ['-Xjsr305=strict']
            jvmTarget = JvmTarget.JVM_1_8
        }

    }
[[% endif %]]

    tasks.withType(Jar).tap {
        configureEach {
            duplicatesStrategy DuplicatesStrategy.EXCLUDE
        }
    }

}