plugins {
    id 'org.springframework.boot'
    id 'io.spring.dependency-management'
[[% if language == 'java+kotlin' %]]
    id 'org.jetbrains.kotlin.kapt'
    id 'org.jetbrains.kotlin.plugin.spring'
    id 'org.jetbrains.kotlin.plugin.noarg'
[[% endif %]]
}

dependencies {
    implementation project(':[[ common_module ]]')
[[% if language == 'java+kotlin' %]]
    implementation 'com.fasterxml.jackson.module:jackson-module-kotlin'
[[% endif %]]
    implementation "com.fasterxml.jackson.datatype:jackson-datatype-jsr310"

    implementation 'org.springframework.boot:spring-boot-starter-jdbc'
    implementation 'org.springframework.boot:spring-boot-starter'
    implementation "com.github.lianjiatech:retrofit-spring-boot-starter"

    //国密sm2加密
    implementation 'org.bouncycastle:bcpkix-jdk18on'
    implementation "cn.hutool:hutool-crypto"
//    implementation 'com.alibaba:druid-spring-boot-starter'
//    implementation 'org.springframework.boot:spring-boot-starter-web'
    runtimeOnly 'mysql:mysql-connector-java'

}

bootJar {
    archiveFileName = "[[ artifact_id ]]-[[ version ]].jar"
}

[[% if language == 'java+kotlin' %]]
kapt {
    keepJavacAnnotationProcessors = true
}
[[% endif %]]